@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cor-botao: #167BF7;
    --cor-background: #00030C;
    --cor-hover: #32B2FB;

    --fonte-principal: 'inter';     
}

body {
    background-color: var(--cor-background);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);  
    font-size: 16px;
    font-weight: 400;   
}

* {
    margin:0;
    padding:0;
}

.principal {   
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;  
    background-size: contain;
    align-items: center;    
    text-align: center;     
}

.container {    
    height: 100vh;  
    display: grid;
    grid-template-columns: 50% 50%;  
}

.container__caixa{
    margin: 0 6em;   
}

.container__titulo {
    font-size: 28px;
    height: 700; 
}

.container__imagem {
    margin: 1em 0 2em 0;    
}

.container__botao { 
    background-color: var(--cor-botao);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1em;       
    display: block;
    text-decoration: none;
    margin-bottom: 1em;     
}

.container__botao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-background);
}

.botao_secundario {     
    background-color: transparent; 
    border: 2px solid var(--branco-principal);
}

.botao_secundario:hover {
    background-color: var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);   
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;    
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;  
    color: var(--branco-principal);
    margin-bottom: 0.1em;   
}

.descricao__texto {
    color: var(--cinza-secundario);  
}

.secundario__botao {
    display: inline-block;  
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center; 
}

.dispositivos__titulo {
    color: var(--branco-principal);
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;  
    justify-content: center;
    list-style-type: none;  
    margin: 5em 0;  
}

.lista__item {
    color: var(--branco-principal);
    font-size: 32px;
}

.rodape {
    text-align: center;
    margin: 12em 0 4em 0;  
}

.rodape__logo {
    align-items: center;  
}

.rodape__lista {
    display: flex;  
    justify-content: center;
    list-style: none;
    font-size: 16px;  
    padding: 2em 0;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
    padding: 0 1em;
    
}

.lista__link:hover {
    color: var(--cor-hover);
}

.lista__link:active {
    color: var(--cor-botao); 
}

.text_color {
    color: var(--cor-hover);
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1.5em 25em 0 25em;
}











